.pt-center-40{
    padding-top: 40px;
    text-align: center;
}
.text-center{
    text-align: center;
}
.z2 {
    z-index: 2;
}
.pt-form-20{
    padding-top: 20px;
}
.pt-96{
    padding-top: 96px;
}
.checkbox-mini{
    width: 20px;
    height: 20px;
}
.wt-center{
    text-align: center;
    color: white;
}