* {
	box-sizing: border-box;
}


.field {
	opacity: 1.0;
	width: 150px;
	height: 150px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
	border-radius: 2px;
	transition: 0.2s;
}

.field:hover {
	transform: rotate(2deg) scale(1.1);
}

.field:active {
	transform: scale(0.9);
	opacity: 0.1;
}

.field.active {
	transform: scale(0.9);
	opacity: 0.1;
}

.red {
	background: rgb(192, 57, 43);
}

.blue {
	background: rgb(41, 128, 185);
}

.yellow {
	background: rgb(241, 196, 15);
}

.green {
	background: rgb(46, 204, 113);
}

.bar {
	width: 100%;
	height: 30px;
	float: left;
	background: transparent;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	line-height: 30px;
	text-align: center;

}

.bar * {
	float: left;
}

button {
	min-width: 120px;
	font-weight: bold;
	background: rgb(236, 240, 241);
	border-radius: 2px;
	color: rgb(52, 73, 94);
	line-height: 30px;
	text-align: center;
	border: 0;
	transition: 0.3s;
}

button:active, button:disabled {
	background: rgb(189, 195, 199);
}



h1 {
	text-align: center;
	font-size: 42px;
	color: rgb(236, 240, 241);
}

.buttons {
	width: 100%;
	float: left;
	margin-top: 10px;
	text-align: center;
}

button.red {
	background: rgb(192, 57, 43);
	color: white;
}
.sp {
    background-color: #172e3c;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #068493;
    margin-left: 10px;
  }
  
  span:hover {
    background-color: #ffe153;
  }
  .holder{
      padding-top: 80px;
  }

@media (min-width: 1200px) {
    .form-container {
        max-width: 600px;
    }
}
@media (min-width: 768px) {
    .moon {
      max-height: 85px;
    }
  }
  @media (min-width: 992px) {
    .moon {
      max-height: 100px;
    }
  
  }
  @media (min-width: 320px) {
      .field{
          max-width: 80px;
          max-height: 80px;
      }
  }

  .mb20 {
      margin-bottom: 20px;
  }